<div class="container-fluid">

  <div class="row">

    <div class="col-lg-3 col-xl-2 hidden-md-down">

      {{lrqdo-sidebar currentUser=currentUser createTopic=createTopic}}

    </div>

    <div class="col-lg-7 col-xl-6">

      {{discourse-banner user=currentUser banner=site.banner}}
      {{outlet "navigation-bar"}}
      {{outlet "list-container"}}

    </div>

  </div>

</div>
