<aside>

  <h3 class="m-b-1">
    <strong>
      <em>
        Échanger vos idées, partager vos expériences, interroger la communauté
      </em>
    </strong>
  </h3>

  {{#if canCreateTopic}}
    <button class="btn btn-primary btn-lg m-y-1" {{action "createTopic"}}>Créer un sujet</button>
  {{/if}}

  <h6 class="text-uppercase m-t-1">
    <strong>Les catégories</strong>
  </h6>

  <ul class="list-unstyled">
    {{#each categories as |category|}}
      <li>
        <a href="{{category.url}}">
          <span class="tag tag-default">
            {{category.name}}
          </span>
        </a>
      </li>
    {{/each}}
  </ul>
  <a href='' class='invisible'>Voir plus</a>

</aside>
