$turquoise1: #AFE1E1;
$turquoise2: #056E7D;
$turquoise3: #18475D;
$mauve2: #C8325A;
$purple: $mauve2;
$mauve3: #960032;
$purple3: $mauve3;

body {
  margin-top: 0 !important;
  padding-top: 100px;
  transition: background-color 500ms linear;

  .alert {
    margin: 1rem;
  }

  .show-first > * {
    display: none;
  }
  .show-first > *:first-of-type {
    display: initial;
  }

  .dropdown-menu {
    top: 52px !important;
  }

  span.twitter-typeahead {
    position: absolute;
    width: calc(100% - 30px);
    left: 15px;
    top: 50px;

    .tt-menu {
      position: initial;
      display: block;
      margin-top: 0;
      .tt-suggestion {
        padding: 0;
        > a.search-link {
          padding: 10px 20px;
          display: block;
        }
      }
    }

    .tt-menu .fa {
      margin: 0 5px;
    }

    .tt-menu .topic-statuses {
      display: inline-block;
    }

    .topic-title {
      margin-right: 5px;
    }
  }

  .card .card-meta-data img {
    margin-right: 0.4rem;
    border: 1px solid $turquoise1;
    float: left;
  }

  body img.emoji {
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }

  .card-block .pull-right {
    img {
      object-fit: cover;
      width: 190px;
      height: 190px;
    }

    @media screen and (max-width: 740px) {
      img {
        width: 100px;
        height: 100px;
      }
    }
  }

  .dropdown-item-content .fa {
    float: left;
    margin-top: 5px;
    margin-right: 5px;
  }

  .user-meta-data img {
    margin-right: 0.4rem;
    border: 1px solid $turquoise1;
    float: left;
  }

  .topic-statuses {
    display: inline-block;
  }

  .lrqdo-topic-title .fa {
    font-size: 1.3rem;
  }

  .posts nav.post-controls .actions {
    float: none;
  }

  .posts nav.post-controls {

    a, button {
      color: $turquoise2;
      &.d-hover {
        color: $mauve2 !important;
        background: transparent !important;
      }
      &.create {
        margin-left: -10px;
      }
    }

  }

  .regular.contents {
    padding-bottom: 10px;
    border-bottom: 1px solid $turquoise1;
  }

  .background-soft {
    background-color: #e6f1f2;
    color: $turquoise2;
    margin-top: 44px;
  }

  #suggested-topics {
    margin-top: 44px;
  }

  .user-main .staff-counters {
    background: transparent;

    &, a {
      color: $turquoise3;
    }
  }

  .user-main .about.collapsed-info .details {
    background: transparent;
  }

  .user-main .about .details {
    background: transparent;
  }

  .btn-primary {
    color: white !important;
    padding: 1rem 2rem;
  }

  .user-main .deleted-posts {
    color: white;
  }

  .user-main .user-content {
    padding: 30px;
  }

  .uploaded-image-preview {
    background: #DDD;
  }

  .bootbox.modal {
    position: relative;
  }

  #save-button-top {
    margin-bottom: 2rem;
  }

  .user-preferences .instructions {
    margin-left: 0;
  }

  .user-preferences label {
    font-weight: 500;
  }

  .badge-notification {
    background-color: $mauve2;
    color: white !important;
    padding: 1px 3px;
    border-radius: 50%;
    position: relative;
    top: -8px;
  }

  #topic-footer-buttons {
    .widget-button.no-text {
      float: right;
    }

    .btn:not(.widget-button):not(.create), .pinned-options, .notification-options {
       display: none;
    }

    .btn-lg {
      padding: 0.6rem 2rem;
    }

    .fa-reply:before {
      content: "\f075";
    }

    .popup-menu {
      bottom: initial !important;
      width: auto;

      ul {
        padding: 0;
        .fa {
          margin-right: 5px;
        }
        .btn {
          white-space: initial;
        }
      }
    }
  }

  .post-admin-menu.popup-menu .btn {
    white-space: initial;
  }

  .user-main .about.has-background {
    .details {
      background: rgba(255, 255, 255, 0.6);
    }
    .staff-counters {
      background: $turquoise3;
      &, a {
        color: white;
      }
    }
  }
}

#share-link {
  top: initial !important;
}

button {
  background: none;
}

.category-navigation {
  margin-bottom: 20px;
}

.category-breadcrumb .badge-category {
  padding: 5px;
  padding: 5px 5px 5px 12px;
  position: relative;
  top: 4px;
}

.fps-select {
  margin: 5px;
}

aside .list-unstyled {
  overflow-y: auto;
  margin-bottom: 5px;
  .tag {
    padding: 0.7rem 0.6rem;
    font-size: 1rem;
  }
}

.trigger-user-card {
  .username i.fa.fa-shield {
    margin: 0 5px;
  }

  .second.full-name {
    margin: 0 5px;
  }

  span.user-title {
    margin: 0 5px;
  }
}

aside .list-unstyled .tag {
  font-size: 1rem;
  font-weight: normal;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
}

.card .tag {
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Sitka Display", Charter, GeorgiaPro, Georgia, "Times New Roman", Times, serif;
}

.card .card-text {
  max-width: 560px;
}

header .extra-info-wrapper {
  display: none;
}

.show-more.has-topics {
  position: initial;

  .alert {
    margin: 0 0 1rem;
  }
}

.navbar-fixed-top {
  transition: background-color 300ms;

  .nav-link {
    font-size: 1.2rem;
  }
}

.card .card-meta-data {
  margin: 1rem 0;
}

.card .card-meta-data .text-muted {
  line-height: 1.25em;
}

.card .card-block {
  border: none;
}

.card-title:hover {
  color: $purple;
}

.fancy-title {
  font-size: 3.2rem;
  font-weight: bold;
  color: $turquoise2;
}

.cooked, .d-editor-preview {
  font-size: 1.4rem;
  line-height: 1.5em;
  color: rgb(100, 100, 100);
}

#lrqdo-topic-title {
  .private-message-glyph {
    display: none;
    .private_message & {
      display: inline;
    }
  }
  @media screen and (min-width: 770px) {
    .topic-status {
      margin-left: -27px;
    }
  }
}

#suggested-topics h3 {
  &:first-of-type {
    font-family: 'League Gothic';
    font-size: 3.2rem;
    color: $turquoise2;
  }

  &:last-of-type {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, system, "Helvetica Neue", Helvetica, Arial;
    > a:not(.badge-wrapper) {
      text-decoration: underline;
    }
  }
}

.badge-wrapper.bar {
  position: relative;
  @extend .tag;
  @extend .tag-default;
  background-color: inherit;
  padding: 8px;
  font-size: 1rem;
  font-weight: normal;

  .category-navigation & {
    padding: 0.8rem 1.2rem;
    font-size: 1.4rem;
    font-weight: 500;
  }

  &:hover {
    .badge-category-bg, .badge-category-parent-bg {
      background-color: $purple !important;
    }
    span.badge-category {
      color: white !important;
    }
  }

  .badge-category-bg, .badge-category-parent-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0.25rem;
  }

  span.badge-category {
    position: relative;
  }
}

#lrqdo-topic-title .topic-statuses {
  margin-left: -12px;
}

aside .list-unstyled {
  &:not(.list-expanded) {
    li:nth-child(n+6) {
      display: none;
    }
  }
}

.navbar-fixed-top:not(.navbar-search-focus) {
  background-color: $turquoise2;

  a, .navbar-brand {
    color: white;
  }

  .dropdown-menu {
    a {
      color: $turquoise2;
      &:hover {
        color: #262626;
      }
    }
  }

  form[role=search] {
    color: $turquoise2;
  }

  .form-control-lg, .input-group-lg > .form-control,
  .input-group-lg > .input-group-addon,
  .input-group-lg > .input-group-btn > .btn {
    background-color: #1b475c;
    padding: 1rem 1.5rem;

    &::-webkit-input-placeholder {
      color: $turquoise2;
    }
    &:-moz-placeholder {
      color: $turquoise2;
    }
    &::-moz-placeholder {
      color: $turquoise2;
    }
    &:-ms-input-placeholder {
      color: $turquoise2;
    }
  }

  .btn-primary:hover {
    background-color: darken($turquoise3, 5%);
    border-color: darken($turquoise3, 5%);
  }
}

html.page-post body {
  background-color: white;
}

html {
  overflow-y: scroll;
}

.nav-inline-lg a.active-unread {
  font-weight: 600;
}

.submit-panel, .usercard-controls {
  .btn-primary .fa {
    margin-right: 10px;
  }
}

#reply-control .contents .form-element .select2-container a {
  height: 39px;
}

.container-fluid {
  max-width: 1140px;
}

.navbar-mobile button.pull-right {
  color: white;
}

.posts .topic-avatar {
  padding-top: 5px;
}

.card-block {
  padding: 1.2rem 2rem;
}
.navbar-fixed-top .btn {
  padding: 13px 29px;
  font-size: 1rem;
}
.navbar-fixed-top .nav-link{
  font-size: 1rem;
}

h3, .h3 {
  font-size: 1.4rem;
}

.nav-inline {
  margin-bottom: 1rem;
}


.card .card-text {
  max-width: 100%;
}

.navbar {
  padding: 0.5rem 0 0.4rem 0;
}

.navbar-fixed-top .img-circle {
  margin: 0;
  border: 2px solid #18475D;
}


.card {
  position: relative;
  display: block;
  margin-bottom: 1.5rem;
  background-color: transparent;
  border-radius: 0;
  border: 0px solid transparent;
}
.card .card-text {
  color: $turquoise3;
  line-height: 1.5em;
}
.cooked, .d-editor-preview {
  font-size: 1.4rem;
  line-height: 1.5em;
  color: $turquoise3;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.m-y-2 a {
  color: $turquoise2;
}

.card-meta-data, .card-meta-data a, .trigger-user-card, .trigger-user-card a {
  color: $turquoise2;
}
.m-y-2 .small{
  font-size:100%;
}

.cooked a {
  color: $purple3;
}
.cooked a:hover {
  color: $mauve2;
}

a.mention,a.mention-group, .list-tags {
  padding: 0;
  color: #960032;
  background: transparent;
  border-radius: 0;
  font-weight: normal;
  font-size: 1em;
}

.discourse-tag.box {
  background-color: transparent;
  color: $purple3;
  padding: 0;
  font-weight: bold;
  text-decoration: underline;
}

.discourse-tag:visited, .discourse-tag:hover {
  color: $mauve2;
}

.discourse-tag {
  padding: 0;
  margin: 0 5px 0 0;
  color: $purple3;
}

.posts nav.post-controls .highlight-action {
  color: $turquoise2;
}

.posts nav.post-controls button{
  font-size:1rem;
  font-weight:bolder;
}

body .regular.contents {
  padding-bottom: 10px;
  border-bottom: 2px solid #afe1e1;
}

#topic-closing-info{
  border:0;
}

.fancy-title{
  line-height:1.15em;
}

h1.m-b-0{
  margin-bottom:0.5rem !important;
}

body .card .card-meta-data img, body .user-meta-data img {
  border: 2px solid $turquoise1;
}

.trigger-user-card {
  .second {
    display: none;
  }
  .fa {
    margin: 0 5px;
  }
}

.m-y-2 {
  font-size:1.2rem;
  line-height:1.25em;
}

aside.quote blockquote {
  font-size: 1.2rem;
  line-height: 1.25em;
}

blockquote, aside.quote .title {
  border-left: 5px solid $turquoise1;
  background-color: rgba($turquoise1,0.2);
  color: $turquoise3;
}

aside.quote .title {
  font-weight:bolder;
  color: $turquoise2;
  font-size: 1.2rem;
}

.m-y-2 a:focus,.m-y-2 a:hover {
  color: #C8325A;
  text-decoration: none;
}

.quote-controls, .quote-controls .back:before, .quote-controls .quote-other-topic:before {
  color: $turquoise2;
}

.quote-button.visible {
  display: block;
}

.user-right.messages .list-actions {
  display: none;
}

.badge-notification.new-topic {
  color: #28779b !important;
}

.quote-button{
  background-color: $mauve2;
}

.quote-button:hover{
  background-color: $mauve3;
}
.btn-danger , div.poll .poll-buttons button.btn-danger {
  background-color: $mauve2;
  border-color:$mauve2;
  color:white;
}
.btn-danger:hover{
  background-color: $mauve3;
  border-color:$mauve3;

}

div.poll .poll-info{
  color:$turquoise2;

}
div.poll .poll-buttons button{
  color:$mauve2;
}

div.poll li{
  font-size:1.2rem;
}

aside.onebox {
  border-color:$mauve2;
}
a.reply-to-tab {
  margin-top: 15px;
  display: block;
}
a.reply-to-tab span, a.reply-to-tab i {
  color:$turquoise3;
}
img.avatar{
  border: 1px solid $turquoise1;
}

.badge-notification.clicks{
  background-color: $mauve2;
}

.dropdown-menu.dropdown-menu-right .dropdown-item:not(.widget-link) {
  background-color: #ebf3f5;
  &.read {
    background-color: white;
  }
}

#reply-control.invisible .contents .d-editor-preview {
  visibility: hidden;
}

body img[title=emoji] {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.card .pull-xs-right img {
  width: auto;
  height: auto;
  max-width: 190px;
  max-height: 190px;
}

.full-width, .lattice-show {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.user-table {
  &, .wrapper {
    display: block;
  }
}

.form-horizontal input, .form-horizontal textarea, .form-horizontal select,  .form-horizontal .input-prepend, .form-horizontal .input-append {
  display: inline-block;
  margin-bottom: 0;
}
.form-horizontal .hide {
  display: none;
}

.form-horizontal {
  .control-group {
    margin-bottom: 18px;
    &:before {
      display: table;
      content: "";
    }
    &:after {
      display: table;
      content: "";
      clear: both;
    }
  }
  .control-indent {
    margin-left: 20px;
    margin-bottom: 10px;
  }
  .control-label {
    float: left;
    width: 140px;
    text-align: right;
    font-weight: bold;
  }
  .controls {
    margin-left: 160px;

    .select2-container-multi {
      margin-left: -160px;
    }
  }
}

.topic-category a.badge-wrapper.bar:not(:last-of-type) {
  display: none;
}

#lrqdo-topic-title .list-tags .discourse-tag {
  display: none;
}

.dropdown-menu.dropdown-menu-right > .dropdown-item {
  background: white !important;
}

.dropdown-menu.dropdown-menu-right .dropdown-item p > span {
  font-weight: 500;
}

#editor blockquote {
  margin-left: 0;
  margin-right: 0;
  padding: 12px;
}

#lrqdo-topic-title i.fa.fa-thumb-tack {
  width: 76px;
  &:not(.unpinned) {
    text-align: right;
  }
}

.btn-group.notification-options {
  .posts & {
    display: block !important;
    margin-top: 1rem;
  }

  .fa {
    color: black;
    margin-right: 5px;
  }

  p {
    display: none !important;
  }

  .dropdown-menu {
    box-shadow: none;
    border: none;
    margin-top: -1rem;
    .icon {
      margin-top: 3px;
      float: left;
      font-size: 1.286em;
    }
    span.title {
      font-weight: bold;
      display: block;
      font-size: 1em;
      color: $primary;
    }
    span {
      font-size: 0.857em;
      color: #919191;
    }
    a {
      display: block;
      padding: 9px;
      clear: both;
      font-weight: normal;
      line-height: 18px;
      color: $primary;
      transition: all linear .15s;
      cursor: pointer;
      background: white;
      border: 1px solid #f4f4f4;
      > div {
        margin-left: 26px;
      }
      &:hover {
        background: #f4f4f4 !important;
      }
    }
  }
}

img.avatar[src=''] {
  display: none;
}

.post-info.edits a {
  cursor: pointer;
}

.card .topic-statuses {
  float: left;
  i {
    margin-right: 5px;
  }
}
